/* ====================================
// css variables
// ==================================== */
/*
:root {
}
//
/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: Museo slab, serif;
  @import "bootstrap/scss/bootstrap-grid";
  text-decoration: none;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid;
  text-align: center;
}
.first-bg-img {
  color: white;
  background-image: url("/img/BackgroundIMGintropage.webp");
}

.logo-img {
  margin: 123, 17px 43, 5px 91px 43, 5px;
}

.nav-area-text {
  color: white;
  font-weight: 700;
  font-size: 37px;
}

.first-intro-text {
  font-weight: 500;
  font-size: 24px;
}

.menu-nav-area-title {
  font-weight: 600;
  font-size: 49px;
}

.button {
  background: gray;
  border-radius: 20.84px;
  font-weight: 700;
  font-size: 27px;
  letter-spacing: -0.41px;
  text-align: center;
}

.menu-title {
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 16px;
}

.drink-menu {
  font-weight: 300;
  font-size: 19px;
  line-height: 23;
}

.dessert-menu-text {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 21, 5px;
}
footer {
  color: white;
}

.footer-title {
  font-weight: 700;
  font-size: 39px;
}

.footer-text {
  font-weight: 300;
  font-size: 23px;
}
/* ====================================
// base rules
// ==================================== */
